$lightgray: #f0f0f0;
$blue: #003D87;

// general styling
html {
  box-sizing: border-box;
  font-family: 'Iceland', cursive;
}

h1 {
  margin: 0;
}

p {
  margin: 0 20px;
}

body {
  margin: 0;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

// navbar styling
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 70px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  z-index: 10;
  a {
    margin: auto 20px;
    text-decoration: none;
    vertical-align: text-bottom;
    cursor: pointer;
    color: $lightgray;
    font-size: 20px;
    &:hover {
      color: lightblue;
    }
  }
}

.navbar-background-change {
  background-color: rgba(0, 0, 0, 1);
}

.navbar-section {
  display: flex;
  justify-content: center;
}

#navbar-company-title {
  color: $lightgray;
  margin: auto 20px;
}

// landing page styling
#landing-page-section {
  height: calc(100vh - 100px);
  position: relative;
}

#landing-page-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: $lightgray;
  text-shadow: 3px 3px black;
}

#landing-page-slogan {
  font-size: 60px;
  text-align: center;
  margin: 20px;
}

#landing-page-mission {
  font-size: 32px;
  text-align: center;
  margin: 20px;
}

// purchase options styling
#purchase-options-section {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
}

.purchase-option {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightblue;
  border-top-width: 0;
  border-bottom-width: 0;
  color: $lightgray;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: 2px 2px black;
  font-size: 20px;
  a {
    color: $lightgray;
    text-decoration: none;
    font-size: 30px;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    a {
      color: lightblue;
    }
  }
}

// product info styling
#product-info-section {
  display: flex;
  flex-wrap: wrap;
  height: calc((100vw * (10/16) / 3) * 2); // = product-info-section width * (picture height / picture width) * product-item width percentage of 33% * two rows of pictures
  background-color: black;
}

.product-item {
  width: calc(100% / 3);
  height: auto;
  background-size: cover;
  position: relative;
}

.picture-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: $lightgray;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: 3px 3px black;
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}

// featured bot styling
#featured-bots-section {
  display: flex;
  background: url('../img/computer-code-background.jpg') no-repeat center center;
  background-size: cover;
}

#featured-bots-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  color: $lightgray;
  h1 {
    flex-basis: 100vw;
    margin: 50px 0 0 0;
    text-align: center;
    font-size: 55px;
  }
}

.featured-bot {
  width: 300px;
  margin: 60px 20px;
  h3 {
    margin: 10px;
    text-align: center;
    font-size: 35px;
  }
  p {
    font-family: 'Hind Vadodara', sans-serif;
    color: lightblue;
  }
  img {
    &:hover {
      cursor: pointer;
    }
  }
}

.bot-image {
  width: 300px;
  height: 300px;
  box-shadow: 3px 3px 3px #000000;
}

// contact info styling
#contact-info-section {
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-info-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60vw;
  margin: 60px 0;
}

.contact-info-item {
  font-family: 'Hind Vadodara', sans-serif;
  width: 30vw;
  min-width: 350px;
  height: 100px;
  margin: 20px 0;
  color: lightblue;
  font-size: 18px;
}

.contact-info-title {
  font-size: 24px;
  color: $lightgray;
}

#social-icons {
  font-size: 40px;
  i {
    &:hover {
      cursor: pointer;
      color: $lightgray;
    }
  }
}

// footer styling
footer {
  display: flex;
  align-items: center;
  font-size: 20px;
  background-color: $blue;
  color: $lightgray;
  p {
    margin: 20px 20px;
  }
}

// media queries
@media (max-width: 1020px) {
  #product-info-section {
    height: calc((100vw * (10/16) / 2) * 3); // = product-info-section width * (picture height / picture width) * product-item width percentage of 50% * three rows of pictures
  }
  .product-item {
    min-width: 50%;
  }
}

@media (max-width: 690px) {
  #product-info-section {
    height: auto;
  }
  .product-item {
    min-width: 100%;
    height: calc(100vw * (10/16)); // 100 (10/16) = product-info-section width * (picture height / picture width)
  }
  #contact-info-content {
    width: 100vw;
  }
  .contact-info-item {
    min-width: 0;
    flex-basis: 100vw;
  }
  .navbar-section {
    flex-basis: 100vw;
    margin: 10px 0;
  }
  body {
    background-size: auto;
  }
}

@media (max-height: 450px) {
  nav {
  background-color: rgba(0, 0, 0, 1);
  }
}
